/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 15px;
  bottom: 15px;
  z-index: 996;
  background: #00597B;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  border: solid white;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #003042;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #f8f6f5;
  padding: 10px 0;
  font-size: 14px;
}
#topbar .contact-info i {
  font-style: normal;
  color: #f03c02;
}
#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #2b2320;
}
#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}
#topbar .contact-info i a:hover {
  color: #f03c02;
}
#topbar .social-links a {
  color: #65534c;
  line-height: 0;
  transition: 0.3s;
  margin-left: 15px;
}
#topbar .social-links a:hover {
  color: #f03c02;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: url(../img/header\ fondo.svg) top center;
}
#header.fixed-top {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #2b2320;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-size: 15px;
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  text-shadow: #111 0px 5px 4px;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #f03c02;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #fd490f;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: none;
  font-weight: 500;
  color: #00597B;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #00597B
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(14, 11, 10, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #00597B;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #00597B;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #00597B;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  padding: 0;
}
#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .carousel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  top: 110px;
  left: 50px;
  right: 50px;
}
#hero .carousel-content {
  background: rgba(28, 23, 21, 0.7);
  padding: 20px;
  color: #fff;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  border-top: 5px solid #f03c02;
}
#hero .carousel-content h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
}
#hero .btn-get-started {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f03c02;
}
#hero .btn-get-started:hover {
  background: #f03c02;
  color: #fff;
  text-decoration: none;
}
#hero .carousel-inner .carousel-item {
  transition-property: opacity;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}
#hero .carousel-indicators li {
  cursor: pointer;
}
.btn-group-carousel {
  position: relative;
  display: block;
  z-index: 1;
  text-align: center;
  margin-top: 150px;
  margin-right: 50px;
  left: 250px;
}
.drop-sol {
  color: #005070;
}
.drop-sol :hover {
  color: #005070;
}
@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-width: 992px) {
  #hero {
    height: calc(100vh - 70px);
  }
  #hero .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #hero .carousel-content p {
    font-size: 15px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
@media (min-height: 300px) {
  .btn-group-carousel {
    left: 0px;
    margin-top: 250px;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f3f2;
}

.section-title {
  padding-bottom: 30px;
  text-align: center;
}
.section-title h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #65534c;
}
.section-title h2 strong {
  font-weight: 700;
}
.section-title p {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/
.tit-home {
  font-size: 70px;
  font-weight: 700;
  color: #00597B;
  margin-bottom: 30px;
}
.txt-home {
  font-size: 29px;
  color: black;
  margin-left: 70px;
  margin-right: 70px;
  text-align: justify;
}
.card {
  border: none;
}
.card-body {
  border-radius: 50px;
  box-shadow: 0px 4px gainsboro;
}
.cards-home {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 30px;
  justify-content: center;
}
.card-title {
  font-size: 30px;
  font-weight: bold;
  color: #00597B;
  text-align: center;
}
@media (max-width: 469px) {
.tit-home {
    font-size: 40px;
  }
  .txt-home {
    font-size: 20px;
  }
  .cards-home {
    grid-template-columns: repeat(1, 300px);
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.tit-about {
  font-size: 65px;
  font-weight: 700;
  color: #00597B;
  margin-bottom: 30px;
  text-align: start;
}
.subtit-about {
  font-size: 40px;
  font-weight: normal;
  color: #00597B;
  margin-bottom: 30px;
  text-align: start;
}
.subtit-about2 {
  font-size: 60px;
  font-weight: normal;
  color: #00597B;
  margin-bottom: 30px;
  text-align: start;
}
.txt-about {
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-bottom: 30px;
  text-align: start;
}
.img-about {
  border: solid 10px #00597B;
  border-radius: 65px;
  box-shadow: 8px 8px #005070;
}
.about-redes-grid {
  display: inline-grid;
  margin-top: 30px;
}
.about-redes {
  display: inline-flex;
  margin-top: 10px;
}
.txt-redes-about {
  margin-left: 20px;
  margin-bottom: 0px;
  align-self: center;
  font-size: 20px;
  color: #00597B;
}
@media (max-width: 991px) {
  .about-us .image {
    text-align: center;
  }
  .about-us .image img {
    max-width: 80%;
  }
}
@media (max-width: 667px) {
  .about-us .image img {
    max-width: 100%;
  }
  .subtit-about2 {
    font-size: 40px;
  }
}
/*--------------------------------------------------------------
# ESTUDIOS GEOTECNICOS
--------------------------------------------------------------*/
.barra-img {
  position: relative;
}
.grid-img-eg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  align-items: center;
}
.barra {
  background-color: #00597B;
  height: 100px;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 80px;
}
.btn-group {
  position: relative;
  display: block;
}
.btn {
  background-color: #00597B;
  color: #fff;

  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  border: 1px solid #00597B;
}
@media (max-width: 768px) {
  .tit-about {
    font-size: 40px;
  }
}

/*--------------------------------------------------------------
# TOPOGRAFIA Y AGRIMENSURA
--------------------------------------------------------------*/
.cards-sol{
  display: inline-grid;
  margin: 50px;
}
.card-sol {
  width: auto;
  margin-top: 10px;
}
.card-body-sol {
  border-radius: 50px;
  background-image: url(/assets/img/barra.svg);

}
.card-title-sol {
  color: white;
  padding: 5px;
}
/*--------------------------------------------------------------
# SOCIOS ESTRATEGICOS
--------------------------------------------------------------*/
.subtit-socios {
  font-size: 40px;
  font-weight: bold;
  color: #00597B;
  margin-bottom: 30px;
  text-align: start;
}
.txt-socios {
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-bottom: 30px;
  text-align: start;
}
@media (max-width: 768px) {
  .subtit-socios {
    text-align: center;
  } 
}
/*--------------------------------------------------------------
# ANTECEDENTES
--------------------------------------------------------------*/
.table td {
  color: #00597B;
}
.table th {
  color: #02445c;
}
.txt-antecedentes {
  color: #00597B;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.contact .info {
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #f03c02;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffeee8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2b2320;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #65534c;
}
.contact .info:hover i {
  background: #f03c02;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #f03c02;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #fd5c28;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: white;
  font-size: 14px;
  background: url(../img/header\ fondo.svg) top center;
}
.txt-footer {
  margin-top: 30px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
#footer .footer-top .footer-contact p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links2 {
  margin-bottom: 30px;
  margin-top: 40px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fd6f41;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fd6f41;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px 0 0 4px;
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #f03c02;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #fd5c28;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: white;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #f03c02;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #fd5c28;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer-contact {
    text-align: center;
  }
  #footer .footer-top .footer-contact p {
    font-size: 16px;
  }
}